html{
    background-color: white;
    font-size:18px;
    /*font-family:"Noto Sans", sans-serif;*/
    font-family: "Lato", sans-serif;
    height:100%;
    padding-right: 100px;
    padding-left: 100px;
    /*font-family: Lato,sans-serif;*/
}
body{
    /*margin:0 auto;*/
    padding: 20px;
    display: grid;
    font-weight: lighter;
    /*colums的高度要按照nav bar算一下然后设定成min*/
    grid-template-rows: auto minmax(640px,auto) auto;
    grid-template-columns: 210px auto;
    grid-gap: 20px;
}

figcaption{
    font-size: .8rem;
    color: rgb(120,120,120);
}

.ui {
    margin-left: 2.5%;
}
.ui a{
    text-decoration: none;
}
.ui img{
    width: 32%;
    height: auto;
    box-shadow: darkgrey 1.5px 1.5px 3px;
}

.two-img img{
    width: 49%;
    height: auto;
    box-shadow: darkgrey 1.5px 1.5px 3px;
}

.photo img{
    width: 90%;
    height: auto;
}
.photo p{
    width: 90%;
    height: auto;
    text-align: left;
}

.job{
    font-size: .8rem;
    text-align: center;
    color: rgb(120,120,120);
}
.job a{
    color:rgb(255,112,112);
    text-decoration: none;
}

.italic{
    font-style: italic;
    color: rgb(120,120,120);
}
.float-figure {
    /* outline: 2px solid red; */
    margin-left: 20px;
    width: 150px;
    float: left;
    /* margin-right: 1.5em; */
}
.float-figure img {
    width: 150px;
    height: auto;
}
.float-figure + section {
    /* outline: 2px solid blue; */
    margin-left: 170px;
}
.float-figure + section::after {
    content: "";
    display: block;
    /* background-color: yellow; */
    height: 2em;
    clear: left;
}
.float-right{
    float:left;
    width: 60%;
    height: auto;
}
.float-right img{
    /*margin-right:-40px;*/
    width:100%;
    min-width: 400px;
    height:auto;
}
.float-right + section {
    /* outline: 2px solid blue; */
    display: block;
}

h1{
    font-size:1.6rem;
    font-weight: normal;
    text-align: center;
}
h2{
    font-size:1.4rem;
    font-weight: normal;
    text-align: center;
}
h3{
    font-weight: normal;
}
p{
    text-indent:1.5em;
}
img{
    width: 100%;
    height: auto;
}
header{
    font-size: 2rem;    
    text-align: center;
    grid-row: 1;
    grid-column: 1/ span 2;
    display: block;
    height: 80px;
    border-bottom: .1px solid rgb(200,200,200);
}
/*考虑用某种方法把大项和小项区分开，可以类似professor网站那样，选中的项颜色更深*/
nav{
    grid-row: 2;
    grid-column: 1;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 210px;
  /*background-color: #f1f1f1;*/
}

.nav-ul-text{
  display: block;
  color: rgb(120,120,120);
  /*font-size: .9rem;*/
  padding: 0px 16px;
  text-decoration: none; 
  /*border-bottom: .1px solid rgb(120,120,120);*/
}

nav ul li:hover .nav-ul-text{
    border-bottom: .1px solid rgb(120,120,120);
}

nav li a {
  display: block;
  /*color: #000;*/
  color: rgb(120,120,120);
  padding: 8px 16px;
  text-decoration: none;
}

nav ul ul li a{
    color: rgb(170,170,170);
}

/* Change the link color on hover */
nav li a:hover {
  /*background-color: #555;*/
  color: black;
}

nav ul ul li{
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition-property: max-height;
    transition-duration: .5s;
}

nav > ul > li:hover li{
    overflow: visible;
    max-height: 2em;
}

nav > ul > li:hover .long-nav{
    overflow: visible;
    max-height: 4em;
}

footer{
    display: block;
    background-color: white;
    text-align: center;
    grid-row: 3;
    grid-column: 1 / span 2;
/*    position:absolute;
    bottom:0px;
    padding: 10px;
    left: 0;
    right: 0;*/
}
footer address{
    font-style: normal;
}
footer a{
    color:rgb(255,112,112);
    text-decoration: none;
}